{% extends 'base.html' %}

{% block content %}
<a href="{% url 'show_list' %}">Home</a>
<div class="main">
    <div class="container">
        <h1>Edit Todo List</h1>
        <form method="POST" action="{% url 'edit_todo_list' id=todo_list.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}