{% extends 'base.html' %}

{% block content %}
<a href="{% url 'show_list' %}">Home</a>
<div class="main">
    <div class="container">
        <h1>Delete Todo List</h1>
        <p>Are you sure you want to delete the to-do list "{{ todo_list.name }}"?</p>
        <form method="POST" action="{% url 'todo_list_delete' id=todo_list.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </div>
</div>
{% endblock %}