{% extends 'base.html' %}

{% block content %}
<a href="{% url 'show_list' %}">Home</a>
<div class="main">
    <div class="container">
        <h1>Create Todo List</h1>
        <form method="POST" action="{% url 'create_todo_list' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock %}