{% extends 'base.html' %}

{% block content %}
<main class="main"> <a href="{% url 'create_todo_list' %}">Create</a>
    <div class="container">
        <h1>My Lists</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_list in todo_lists %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
                    <td>
                        <p>{{ todo_list.items.count }}</p>
                    </td>
                    <td><a href="{% url 'edit_todo_list' id=todo_list.id %}">Edit</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No to-do lists available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}