{% extends 'base.html' %}

{% block content %}
<a href="{% url 'show_list' %}">Home</a>
<a href="{% url 'edit_todo_list' id=todo_list.id %}">Edit</a>
<a href="{% url 'todo_list_delete' id=todo_list.id %}">Delete</a>
<a href="{% url 'todo_item_create' %}">Create Todo Item</a>
<div class="main">
    <div class="container">
        <h1>{{ todo_list.name }}</h1>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                    <th>Completed?</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><a href="{% url 'todo_item_update' id=task.id %}">{{ task.task }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No tasks available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}