{% extends 'base.html' %}

{% block content %}
<a href="{% url 'show_list' %}">Home</a>
<main class="main">
    <div class="container">
        <h1>Update item</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>
</main>
{% endblock %}